@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* RADAR VIEW */
.radarview-container {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

/* TOP VIEW */
.top-view {
    display: flex;
}
.title-box {
    min-width: 250px;
    margin: 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #17294A;
}
.filters-box {
    display: inherit;
    align-items: center;

    width: 100%;
    margin: 30px;
    padding: 0px 20px 0px 20px;

    border-radius: 15px;
    background-color: #fbfbfb;
    box-shadow: 2px 4px 8px #C4C4DA;
}

/* CENTER VIEW */

/* BOTTON VIEW */

/* NAV VIEW */
.vertical-nav {
    display: flex;
    flex-direction: column;

    float: left;
    overflow: hidden;

    width: 75px;
    height:100vh;
    border-radius: 0px 25px 25px 0px;

    background-color: #ffffff;
}