
.menu-item, .filter-menu-dropdown {
    position: relative;
    list-style: none;
    
    margin: 0 auto;
    border-left: 2px solid #4E8CFC;
    
    text-decoration: none;
    text-align: center;
}
.menu-item, .menu-title, .menu-icon { cursor: pointer; }
.menu-item .menu-text { padding-left: 5px; }

.menu-icon { 
    position: relative;
    font-size: 22px; 
}
.menu-title { 
    position: relative;
    display: inline;

    padding: 0px 0px 0px 15px;

    vertical-align: top;
}
.menu-item {
    clear: both;
    
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 20px 0px 0px;
    
    text-align: left;
    border-style: none;

    &:hover .menu-text{
        padding-left: 10px;
        border-left: 2px solid #4E8CFC;
    
        transition: all 0.3s ease;
    }
}
.filter-menu-dropdown {
    padding: 0 15px;

    &:hover .menu-title {
        margin: 0px 0px 0px 10px;
        padding: 0px 40px 0px 80px;
        border-bottom: 2px solid #4E8CFC;
    }

    &:hover .dropdown {
        display: block;
        position: absolute;
        pointer-events: all;

        visibility: visible;
        opacity: 1;
    }
}
.dropdown {
    position: absolute;
    pointer-events: none;

    margin: 0px;
    padding: 10px 20px 0px 080px;
    left: 45px;

    text-align: left;

    background: transparent;
    opacity: 0;
    transition: opacity 0.5s ease;

    &:hover {
        display: block;
        position: absolute;
        pointer-events: all;
    
        visibility: visible;
        opacity: 1;
    }

    &:hover .menu-title {
        margin: 0px 0px 0px 10px;
        padding: 0px 40px 0px 80px;
        border-bottom: 2px solid #4E8CFC;
    }
}
.menu-text {
    color: #000000;
    text-decoration: none;
    
    transition: all 0.5s ease; 
    
    &:hover { color: #3ca0e7; }
}